apiVersion: 1

datasources:
  - name: Tempo
    uid: tempo
    type: tempo
    access: proxy
    orgId: 1
    url: http://tempo:3200
    isDefault: true
    editable: false
    jsonData:
      httpMethod: GET
